---
is_home: true
layout: default
showreel: https://player.vimeo.com/external/109556361.hd.mp4?s=ff164e32eea1a72362ab44570e23b310c710d125&profile_id=119

logos:
    - title: "some company"
      logo: sky-black.svg
    - title: "some 2"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some company"
      logo: sky-black.svg
    - title: "some 2"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some company"
      logo: sky-black.svg
    - title: "some 2"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some company"
      logo: sky-black.svg
    - title: "some 2"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg
    - title: "some 3"
      logo: sky-black.svg

---

{% assign rows = site.work | where: "showcase","yep" | sort: "row" | group_by: "row" %}

<section id="showreel-container" class="scrollme">

        <video width="100%" autoplay preload="auto" data-aspect="1430:550">
            <source src="{{page.showreel}}" type="video/mp4">
        </video>

        <img class="animateme" src="/assets/img/common/inspired-overlay.svg" data-when="exit" data-opacity="0" data-from="0" data-to="0.5" data-easing="easeinout" />

</section>

<section id="value-prop" class="uk-container-center uk-container scrollme">

    <div class="uk-block animateme" data-when="span" data-opacity="0" data-from="0" data-to="1" data-easing="easeinout">
        <div class="prop-text uk-panel">
            <h2>Ember is an <span>emmy award-winning</span> production company devoted to creating visually stunning content for broadcast, cinema and the web.</h2>
        </div>
    </div>
</section>

<section id="showcase">

    <div class="uk-container uk-container-center">

        <h2 data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">Our Work</h2>

        {% for row in rows %}
        {% assign ordered_row = row.items | sort: "position" %}
        {% capture thecycle %}{% cycle 'odd', 'even' %}{% endcapture %}
        {% assign hero = ordered_row[0] %}

            {% if thecycle == 'odd' %}
            <div class="uk-grid uk-grid-small">
                {% include showcase_hero.html %}
                {% include showcase_grid.html %}
            </div>
            {% endif %}

            {% if thecycle == 'even' %}
            <div class="uk-grid uk-grid-small">
                {% include showcase_grid.html %}
                {% include showcase_hero.html %}
            </div>
            {% endif %}

        {% endfor %}

    </div>

</section>

<section id="clients" class="uk-container-center uk-container ">

    <div class="uk-block uk-text-center scrollme">

        <h2 data-uk-scrollspy="{cls:'uk-animation-slide-bottom', topoffset: -100, repeat: true}">Our Clients</h2>

        <div class="uk-grid uk-grid-width-1-4 uk-grid-width-medium-1-6 animateme" data-when="enter" data-translatey="500" data-from="1" data-to="0">

            {% for l in page.logos %}
            <div>
                <div class="uk-panel uk-panel-space">
                    <img src="/assets/img/logos/{{l.logo}}" alt="{{l.title}}">
                </div>
            </div>
            {% endfor %}

        </div>

    </div>
</section>
