<section id="our-studio" data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">

    <div class="uk-block">
        <div class="uk-container uk-container-center">

            <h2 data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">Our Studio</h2>
            <p data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">Ember Studios is our purpose built film studio equiped with the latest lardie dars ready to be rented out and equipment hire.</p>

        </div>
    </div>

    <div class="slider" data-aspect="3:1" data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">

        <div class="uk-container uk-container-center uk-position-relative">

            <div class="caption">
                <div class="title" data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">Studio</div>
                <div class="subtitle" data-uk-scrollspy="{cls:'uk-animation-slide-bottom'}">Green Screen</div>
                <i class="left"></i>
                <i class="right"></i>
            </div>

        </div>

    </div>

</section>