<footer>

    <svg id="footer-triangle" preserveAspectRatio="none" width="1342px" height="86px" viewBox="0 0 1342 86" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <g stroke="none" fill="none" fill-rule="evenodd" >
            <g id="wedge" transform="translate(-98.000000, -348.000000)">
                <polygon points="1440 348.554688 1440 433.944221 98 433.944221 "></polygon>
            </g>
        </g>
    </svg>

    <div class="uk-container uk-container-center">

        <div class="uk-grid uk-grid-collapse" data-uk-grid-margin="">

            <!-- Contact and Site map -->
            <div class="uk-width-2-3">
                <div class="uk-grid uk-grid-width-1-1 uk-grid-width-medium-1-3 uk-grid-collapse">

                    <div>
                        <div class="uk-panel uk-panel-space">

                            <div itemscope="" itemtype="http://schema.org/ContactPoint">
                                <a itemprop="telephone" href="tel:{{site.telephone}}">{{site.telephone}}</a>
                                <a itemprop="email" href="mailto:{{site.email}}">{{site.email}}</a>
                            </div>

                        </div>
                    </div>

                    <div>
                        <div class="uk-panel uk-panel-space">

                            <nav role="navigation">
                                <a href="/">Home</a>
                                <a href="/#showcase" data-uk-smooth-scroll="{offset: 50}">Work</a>
                                <a href="/contact">Studio</a>
                            </nav>

                        </div>
                    </div>

                    <div>
                        <div class="uk-panel uk-panel-space">

                            <nav role="navigation">
                                <a href="/sitemap">Services</a>
                                <a href="/sitemap">Contact</a>
                            </nav>

                        </div>
                    </div>

                </div>
            </div>

            <!-- Copyright Info -->
            <div class="uk-width-1-3">
                <div class="uk-panel uk-panel-space" itemscope="" itemtype="http://schema.org/Organization">
                    <span itemprop="brand">&copy; <span class="date">2015</span> Ember Films. All rights reserved </span>

                    <ul>
                        <li>
                            <a href="{{site.linkedin}}" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <path id="LinkedIn" d="M95,59.727V93H75.71V61.955c0-7.799-2.79-13.121-9.773-13.121c-5.33,0-8.502,3.587-9.897,7.056
                                    c-0.509,1.241-0.64,2.967-0.64,4.704V93H36.104c0,0,0.26-52.58,0-58.028h19.295v8.225c-0.039,0.062-0.09,0.128-0.127,0.188h0.127
                                    v-0.188c2.563-3.948,7.141-9.588,17.388-9.588C85.483,33.609,95,41.903,95,59.727z M15.919,7C9.318,7,5,11.33,5,17.024
                                    c0,5.57,4.193,10.031,10.663,10.031h0.129c6.729,0,10.914-4.46,10.914-10.031C26.579,11.33,22.521,7,15.919,7z M6.146,93h19.289
                                    V34.972H6.146V93z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.twitter}}" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <path id="twweeitrs" d="M84.803,46.564c5.055-0.417,8.483-2.715,9.803-5.833c-1.824,1.12-7.484,2.341-10.61,1.178
                                    c-0.153-0.734-0.324-1.432-0.492-2.062c-2.382-8.746-10.537-15.792-19.082-14.941c0.691-0.279,1.392-0.539,2.092-0.772
                                    c0.94-0.337,6.459-1.235,5.59-3.183c-0.733-1.713-7.475,1.295-8.744,1.688c1.675-0.63,4.447-1.714,4.743-3.64
                                    c-2.567,0.352-5.087,1.566-7.034,3.331c0.703-0.757,1.236-1.679,1.349-2.672C55.57,24.033,51.57,32.853,48.333,41.408
                                    c-2.542-2.463-4.795-4.403-6.816-5.48c-5.67-3.041-12.449-6.213-23.091-10.164c-0.327,3.521,1.741,8.203,7.7,11.316
                                    c-1.291-0.173-3.652,0.213-5.54,0.665c0.769,4.034,3.28,7.357,10.079,8.964c-3.107,0.205-4.713,0.912-6.168,2.436
                                    c1.415,2.805,4.868,6.107,11.08,5.429c-6.906,2.977-2.816,8.49,2.804,7.667C28.794,72.143,13.679,71.416,5,63.134
                                    c22.661,30.879,71.921,18.262,79.262-11.481c5.499,0.047,8.733-1.905,10.738-4.057C91.831,48.134,87.239,47.578,84.803,46.564z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.facebook}}" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <path d="M38.078,22.431c0,2.268,0,12.391,0,12.391H29v15.152h9.078V95h18.649V49.975h12.513
                                    c0,0,1.172-7.265,1.74-15.209c-1.629,0-14.183,0-14.183,0s0-8.815,0-10.36c0-1.548,2.033-3.631,4.043-3.631c2.006,0,6.239,0,10.16,0
                                    c0-2.063,0-9.191,0-15.774c-5.235,0-11.189,0-13.814,0C37.617,5,38.078,20.167,38.078,22.431z"/>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.instagram}}" target="_blank">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" viewBox="0 0 97.395 97.395" style="enable-background:new 0 0 97.395 97.395;" xml:space="preserve">
                                    <g>
                                        <path d="M12.501,0h72.393c6.875,0,12.5,5.09,12.5,12.5v72.395c0,7.41-5.625,12.5-12.5,12.5H12.501C5.624,97.395,0,92.305,0,84.895   V12.5C0,5.09,5.624,0,12.501,0L12.501,0z M70.948,10.821c-2.412,0-4.383,1.972-4.383,4.385v10.495c0,2.412,1.971,4.385,4.383,4.385   h11.008c2.412,0,4.385-1.973,4.385-4.385V15.206c0-2.413-1.973-4.385-4.385-4.385H70.948L70.948,10.821z M86.387,41.188h-8.572   c0.811,2.648,1.25,5.453,1.25,8.355c0,16.2-13.556,29.332-30.275,29.332c-16.718,0-30.272-13.132-30.272-29.332   c0-2.904,0.438-5.708,1.25-8.355h-8.945v41.141c0,2.129,1.742,3.872,3.872,3.872h67.822c2.13,0,3.872-1.742,3.872-3.872V41.188   H86.387z M48.789,29.533c-10.802,0-19.56,8.485-19.56,18.953c0,10.468,8.758,18.953,19.56,18.953   c10.803,0,19.562-8.485,19.562-18.953C68.351,38.018,59.593,29.533,48.789,29.533z"></path>
                                    </g>
                                </svg>
                            </a>
                        </li>
                        <li>
                            <a href="{{site.vimeo}}" target="_blank">
                                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100px" height="100px" viewBox="0 0 100 100" style="enable-background:new 0 0 100 100;" xml:space="preserve">
                                    <path d="M81.844,11.017c-12.512-0.408-20.979,6.61-25.412,21.063c2.283-0.94,4.502-1.415,6.665-1.415
                                        c4.563,0,6.583,2.561,6.043,7.696c-0.267,3.109-2.283,7.633-6.043,13.571c-3.774,5.947-6.593,8.916-8.466,8.916
                                        c-2.432,0-4.645-4.595-6.666-13.773c-0.678-2.703-1.89-9.586-3.625-20.666c-1.627-10.262-5.926-15.057-12.916-14.383
                                        c-2.957,0.271-7.387,2.979-13.299,8.104C13.812,24.048,9.442,27.967,5,31.882l4.232,5.464c4.039-2.838,6.402-4.25,7.058-4.25
                                        c3.097,0,5.99,4.858,8.681,14.574c2.413,8.923,4.846,17.834,7.27,26.744C35.852,84.137,40.303,89,45.539,89
                                        c8.469,0,18.838-7.965,31.066-23.9c11.83-15.256,17.938-27.276,18.35-36.062C95.498,17.296,91.128,11.283,81.844,11.017z"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>

    </div>

</footer>

<!-- build:js /assets/js/site.js async defer -->

<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/loadcss/loadCSS.js"></script>
<script src="/bower_components/underscore/underscore.js"></script>
<script src="/bower_components/isMobile/isMobile.js"></script>
<script src="/bower_components/uikit/js/uikit.min.js"></script>
<script src="/bower_components/scrollmagic/scrollmagic/uncompressed/ScrollMagic.js"></script>
<script src="/bower_components/gsap/src/uncompressed/TweenMax.js"></script>
<script src="/bower_components/scrollme/jquery.scrollme.min.js"></script>
<!-- endbower -->

<script src="/scripts/vendor/analytics.js"></script>

<script src="/scripts/loader.js"></script>
<script src="/scripts/responsive-classes.js"></script>
<script src="/scripts/show-reel.js"></script>
<script src="/scripts/footer.js"></script>
<script src="/scripts/menu.js"></script>
<script src="/scripts/aspect-ratio.js"></script>
<script src="/scripts/remote-assets.js"></script>
<!-- endbuild -->

<script>//ga('create', '{{site.google-analytics}}', 'auto'); ga('send', 'pageview');</script>
