<head>
    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

    {% include meta.html %}

    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- check for js support before css is loaded to prevent fouc! -->
    <script>(function(J){J.className=J.className.replace(/\bno-js\b/,'js')})(document.documentElement)</script>

    <!-- critical inline css, this contains all styling for above the fold to give
         users a more crisp loading experience -->
    <link rel="stylesheet" href="/assets/css/critical.css" inline>
    <noscript><style type="text/css">body {opacity: 1;}#loader {display: none;}</style></noscript>
    <noscript>
        <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/site.css">
    </noscript>

    <script src="/bower_components/loadcss/loadCSS.js" inline></script>
    <script>loadCSS('/assets/css/site.css')</script>


</head>