<button class="burger-svg-wrapper">

  <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="burger-svg burger-svg-top" enable-background="new 0 0 96 96">
    <rect width="32" height="2" x="32" y="46" class="burger-svg-rect burger-svg-rect-top"></rect>
  </svg>

  <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="burger-svg burger-svg-middle" enable-background="new 0 0 96 96">
    <rect width="32" height="2" x="32" y="46" class="burger-svg-rect burger-svg-rect-middle"></rect>
  </svg>

  <svg x="0px" y="0px" width="100%" viewBox="0 0 96 96" class="burger-svg burger-svg-bottom" enable-background="new 0 0 96 96">
    <rect width="32" height="2" x="32" y="46" class="burger-svg-rect burger-svg-rect-bottom"></rect>
  </svg>

</button>