<div class="mast fixed">

    <div class="uk-container uk-container-center uk-position-relative">

    {% include menu-button.html %}

    <nav>
        <ul class="uk-clearfix">
            <li>
                <a href="" class="active">Home</a>
            </li>
            <li>
                <a href="">Studio</a>
            </li>
            <li>
                <a href="">Services</a>
            </li>
            <li>
                <a href="">Contact</a>
            </li>
        </ul>
        <div data-navigation-underline></div>
    </nav>

    <header>
        <h1>EMBER</h1>
        <a href="tel:{{site.telephone}}" class="tel">{{site.telephone}}</a>
    </header>

    </div>

</div>