<nav>
    <ul class="uk-clearfix">
        <li>
            <a href="" class="active">Home</a>
        </li>
        <li>
            <a href="">Studio</a>
        </li>
        <li>
            <a href="">Services</a>
        </li>
        <li>
            <a href="">Contact</a>
        </li>
    </ul>
    <div data-navigation-underline></div>
</nav>

<div class="fixed">

    <header class="uk-container uk-container-center uk-position-relative">

        <h1>EMBER</h1>
        {% include menu-button.html %}

    </header>

</div>