<header>

    <div class="top-bar" data-uk-scrollspy="{cls:'uk-animation-slide-top', delay: 1000}">
        <div class="uk-container uk-container-center">

            <a href="mailto:info@emberfilms.co.uk">
                info@emberfilms.co.uk
            </a>

            <a href="tel:08448099567">
                +44 (0) 8448 099 567
            </a>

        </div>
    </div>

    <div class="logo uk-container-center uk-container" data-uk-scrollspy="{cls:'uk-animation-slide-left', delay: 1000}">
        <a href="/">
            <img src="/assets/img/common/logo.svg" alt="Ember Films">
        </a>
    </div>

    <nav class="nav uk-container-center uk-container" data-uk-scrollspy="{cls:'uk-animation-slide-right', delay: 1000}">
        <a {% if page.url == '/' %}class="active"{%endif%}href="/#showcase" {% if page.is_home %}data-uk-smooth-scroll="{offset: 50}"{% endif %}>Work</a>
        <a {% if page.url == '/services/' %}class="active services-link"{%else%}class="services-link"{%endif%} href="/services/">Services</a>
        <a {% if page.url == '/about/' %}class="active"{%endif%} href="/about/">About</a>
        <a {% if page.url == '/blog/' %}class="active"{%endif%} href="/blog/">Blog</a>
        <a {% if page.url == '/contact/' %}class="active"{%endif%} href="/contact/">Contact</a>

        <div data-navigation-underline></div>

    </nav>

</header>