<nav role="navigation">
    <a class="hvr-sweep-to-right" href="javascript:void(0);" data-featured="#sidebar nav a:first-child">Featured Work</a>
    <a class="hvr-sweep-to-right" href="mailto:&#111;&#119;&#101;&#110;&#64;&#111;&#119;&#101;&#110;&#109;&#101;&#108;&#98;&#111;&#117;&#114;&#110;&#101;&#46;&#99;&#111;&#109;">Get in touch</a>
    <a class="hvr-sweep-to-right" target="_blank" href="https://twitter.com/owenmelbz">Twitter</a>
    <a class="hvr-sweep-to-right" target="_blank" href="https://github.com/owenmelbz">Github</a>
</nav>