<div class="uk-width-1-1 uk-width-medium-1-2 animateme scrollme" data-when="enter" data-translatex="{% if thecycle == 'odd' %}400{% else %}-800{% endif %}" data-from="1" data-to="0">

    <div class="uk-grid uk-grid-small uk-grid-width-1-1 uk-grid-width-medium-1-2" data-uk-grid-margin>
        {% for work in ordered_row %}
        {% if work.position > 1 %}

        <div>
            <div class="uk-panel">
                <a data-aspect="700:460" href="/{{work.permalink}}">
                    <div class="bg" style="background-image: url(/assets/img/work/{{work.thumbnail}})"></div>
                    <img src="/assets/img/logos/{{work.logo}}" alt="{{work.title}}">
                </a>
            </div>
        </div>

        {% endif %}
        {% endfor %}
    </div>

</div>