@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-hairline.eot');
    src: url('/assets/fonts/montserrat-hairline.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-hairline.woff2') format('woff2'),
         url('/assets/fonts/montserrat-hairline.woff') format('woff'),
         url('/assets/fonts/montserrat-hairline.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-ultralight.eot');
    src: url('/assets/fonts/montserrat-ultralight.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-ultralight.woff2') format('woff2'),
         url('/assets/fonts/montserrat-ultralight.woff') format('woff'),
         url('/assets/fonts/montserrat-ultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-light.eot');
    src: url('/assets/fonts/montserrat-light.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-light.woff2') format('woff2'),
         url('/assets/fonts/montserrat-light.woff') format('woff'),
         url('/assets/fonts/montserrat-light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-regular.eot');
    src: url('/assets/fonts/montserrat-regular.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-regular.woff2') format('woff2'),
         url('/assets/fonts/montserrat-regular.woff') format('woff'),
         url('/assets/fonts/montserrat-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-semibold.eot');
    src: url('/assets/fonts/montserrat-semibold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-semibold.woff2') format('woff2'),
         url('/assets/fonts/montserrat-semibold.woff') format('woff'),
         url('/assets/fonts/montserrat-semibold.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-bold.eot');
    src: url('/assets/fonts/montserrat-bold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-bold.woff2') format('woff2'),
         url('/assets/fonts/montserrat-bold.woff') format('woff'),
         url('/assets/fonts/montserrat-bold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-extrabold.eot');
    src: url('/assets/fonts/montserrat-extrabold.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-extrabold.woff2') format('woff2'),
         url('/assets/fonts/montserrat-extrabold.woff') format('woff'),
         url('/assets/fonts/montserrat-extrabold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat-black.eot');
    src: url('/assets/fonts/montserrat-black.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/montserrat-black.woff2') format('woff2'),
         url('/assets/fonts/montserrat-black.woff') format('woff'),
         url('/assets/fonts/montserrat-black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
