#showreel-container {

    background-image: url('/assets/img/common/homepage-hero.jpg');
    background-size: cover;
    background-position: bottom center;

    min-height: 600px;
    height: 100vh;
    position: relative;

    #play-showreel {

        .js & .loading {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }

        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, -50%);

        background: #fff;
        padding: 0;
        width: 70px;
        height: 50px;
        border: none;
        border-radius: 1px;

        text-align: center;
        outline: none;
        transition: all .5s ease;

        &:before {
            content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2219%22%20height%3D%2224%22%20viewBox%3D%220%200%2019%2024%22%20version%3D%221.1%22%3E%3Ctitle%3EShape%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate(-3.000000%2C%200.000000)%22%20fill%3D%22%23FF6400%22%3E%3Cpath%20d%3D%22M20.5%209.2L7.9%200.6C6.9-0.1%205.7-0.1%204.7%200.4%203.7%200.9%203%202%203%203.1L3%2020.4C3%2021.6%203.6%2022.6%204.7%2023.1%205.2%2023.3%205.7%2023.5%206.1%2023.5%206.7%2023.5%207.3%2023.3%207.9%2023L20.5%2014.4C21.3%2013.8%2021.9%2012.9%2021.9%2011.8%2021.9%2010.7%2021.3%209.8%2020.5%209.2L20.5%209.2ZM19.3%2012.7L6.7%2021.3C6.4%2021.5%205.9%2021.6%205.6%2021.4%205.2%2021.2%205%2020.8%205%2020.4L5%203.2C5%202.8%205.2%202.4%205.6%202.2%205.8%202.1%205.9%202.1%206.1%202.1%206.3%202.1%206.5%202.2%206.7%202.3L19.3%2010.9C19.6%2011.1%2019.8%2011.4%2019.8%2011.8%2019.8%2012.2%2019.6%2012.5%2019.3%2012.7L19.3%2012.7Z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
            position: relative;
            left: 2px;
            top: 1px;
        }

        &:hover {
            cursor: pointer;
            background: #313437;
        }

        .video-playing & {

            opacity: 0;

            &:before {
                content: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2211%22%20height%3D%2227%22%20viewBox%3D%220%200%2011%2027%22%20version%3D%221.1%22%3E%3Ctitle%3Epause%3C%2Ftitle%3E%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%3Cg%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20transform%3D%22translate(0.000000%2C%201.000000)%22%20stroke%3D%22%23FF6400%22%20stroke-width%3D%223%22%20stroke-linecap%3D%22round%22%3E%3Cpath%20d%3D%22M1.5%200.5L1.5%2023.7M9.5%200.5L9.5%2023.7%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E');
                left: 1px;
            }
        }

        .video-playing.video-over & {
            opacity: 1;
        }
    }

    video {

        margin: 0 auto;
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: opacity .4s ease;
        max-width: 100%;

        z-index: 1;

        .js &.loading {
            opacity: 0;
            pointer-events: none;
            visibility: hidden;
        }
    }
}


#value-prop {

    h2 {
        font-family: 'Bodoni', 'Arapey';
        font-size: 52px;
        text-align: center;
        font-style: italic;
        letter-spacing: -2px;
        color: #000;

        &:after {
            display: block;
            background: $orange;
            height: 1px;
            width: 80px;
            content: "";
            margin: 40px auto;
        }
    }

    p {
        font-family: 'Bodoni', 'Arapey', Georgia, Serif;
        font-size: 21px;
        line-height: 25px;
        text-align: justify;
        float: left;
        display: block;

        width: 48%;
        margin-right: 2%;

        &:not(:last-child){
            &:first-letter {
                float: left;
                color: $orange;
                font-size: 75px;
                line-height: 60px;
                padding-top: 4px;
                padding-right: 8px;
                padding-left: 3px;
            }
        }

        &:last-child {
            width: 50%;
            margin-right: 0;
        }
    }

}

#showcase {

    a {
        display: block;
        position: relative;
        overflow: hidden;
        color: white;

        &:hover {

            .bg {
                transform: scale(1.1);
                filter: grayscale(0%);
            }

            .caption {

                h2 {
                    opacity: 1;
                    transform: translateY(0px);
                }

                span {
                    opacity: 1;
                    transform: translateY(0px);
                }
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;

        background-size: cover;
        background-position: center center;

        transition: all .5s ease;
        filter: grayscale(100%);
    }

    .caption {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 1;

        box-sizing: border-box;
        padding: 20px;

        h2 {
            text-transform: uppercase;
            font-size: 21px;

            .js & {
                opacity: 0;
            }

            transition: all .5s ease;
            transform: translateY(-100%);
        }

        span {
            color: $orange;
            font-family: 'Bodoni', 'Arapey';
            font-style: italic;
            display: block;
            text-transform: lowercase;

            .js & {
                opacity: 0;
            }

            transition: all .5s ease;
            transform: translateY(100%);
        }
    }

}

#clients {

    h2 {
        font-family: 'Bodoni', 'Arapey';
        font-size: 52px;
        text-align: center;
        font-style: italic;
        letter-spacing: -2px;
        color: #000;

        &:after {
            display: block;
            background: $orange;
            height: 1px;
            width: 80px;
            content: "";
            margin: 40px auto;
        }
    }

    ul {

        li {

            text-align: center;

            img {
                max-width: 65%;
            }
        }
    }
}