@keyframes loadbars {
    0% {
        height: 10px;
        margin-top: 25px;
    }
    50% {
        height:50px;
        margin-top: 0px;
    }
    100% {
        height: 10px;
        margin-top: 25px;
    }
}

#loader {

    .loaded & {
        display: none;
    }

    position: fixed;
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    list-style: none;

    li {
        background-color: #000;
        width: 10px;
        height: 10px;
        float: right;
        margin-right: 5px;
        box-shadow: 0px 100px 20px rgba(0,0,0,0.2);

        &:first-child {
            animation: loadbars 0.7s cubic-bezier(0.645,0.045,0.355,1) infinite 0s;
        }

        &:nth-child(2){
            animation: loadbars 0.7s ease-in-out infinite -0.2s;
        }

        &:last-child {
            animation: loadbars 0.7s ease-in-out infinite -0.4s;
        }
    }
}

.loading.js {
    header,
    #main-container,
    footer {
        transition: opacity .5s $easing;
        opacity: 0 !important;
    }
}