header {

    [data-navigation-underline] {

        transition: all .2s;
        animation: fadein 2s;

        height: 2px;
        position: absolute;
        left: 10px;
        width: 0px;
        bottom: -5px;
        background: $orange;
        pointer-events: none;
    }

}