@import 'variables';
@import 'reset';
@import 'loader';

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.25px;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background: #fff;
    font-family: 'Montserrat', Helvetica, Sans-serif;
}

header {

    $border: 1px solid #ebebeb;
    $height: 35px;
    $padding: 25px;

    .top-bar {

        border-bottom: $border;
        border-top: $border;
        height: $height;
        margin-top: 0;

        .uk-container {
            height: $height;
            border-left: $border;
            border-right: $border;
            padding: 0 $padding;
        }

        a {
            font-size: 12px;
            line-height: $height;
            height: $height;
            color: #9B9B9B;
            font-weight: 200;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            float: left;

            transition: color .5s ease;

            strong {
                font-weight: 300;
            }

            &:first-child {
                padding-right: $padding;
                border-right: $border;
            }

            &:nth-child(2){
                padding-right: $padding;
                padding-left: $padding;
                border-right: $border;
            }

            &:nth-child(3){
                float: right;
                padding-left: $padding;
                text-transform: lowercase;
            }

            &:last-child {
                float: right;
                padding-right: $padding;
                padding-left: $padding;
                border-right: $border;
                border-left: $border;
            }

            &:hover {
                color: #000;
            }
        }
    }

    .logo {

        img {
            position: relative;
            top: 5px;
        }

        padding: $padding $padding;
        color: #4B4B4B;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 100;

        strong {
            font-weight: 400;
        }
    }

    .nav {
        padding: 0 $padding;
        position: relative;

        a {
            text-transform: uppercase;
            text-decoration: none;
            font-weight: 300;
            color: #000;
            font-size: 13px;
            letter-spacing: 1px;
            padding-right: $padding;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

/* .ruler {
    position: absolute;
    top: 165px;
    left: 10px;
    width: 100%;
    height: 1px;
    background: red;
} */