@import 'variables';
@import 'reset';
@import 'loader';

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.25px;
    -moz-osx-font-smoothing: grayscale;
    color: #000;
    background: #fff;
    font-family: 'Montserrat', Helvetica, Sans-serif;
}

header {

    $border: 1px solid #ebebeb;
    $height: 35px;
    $padding: 25px;

    .top-bar {

        border-bottom: $border;
        border-top: $border;
        height: $height;
        margin-top: 0;

        .uk-container {
            height: $height;
            padding: 0 $padding;

            @media(min-width: $xlarge-min){
                padding: 0 35px;
            }
        }

        a {
            font-size: 12px;
            line-height: $height;
            height: $height;
            color: #9B9B9B;
            font-weight: 200;
            text-transform: uppercase;
            text-decoration: none;
            display: block;
            float: left;

            transition: color .5s ease;

            strong {
                font-weight: 300;
            }

            &:first-child{
                float: right;
                padding-left: $padding;
                text-transform: lowercase;
            }

            &:last-child {
                float: right;
                padding-right: $padding;
                padding-left: $padding;
                border-right: $border;
                //border-left: $border;
            }

            &:hover {
                color: #000;
            }
        }
    }

    .logo {

        img {
            position: relative;
            top: 5px;
            width: 150px;
        }

        padding: $padding $padding;
        color: #4B4B4B;
        text-transform: uppercase;
        font-size: 30px;
        font-weight: 100;

        @media(min-width: $xlarge-min){
            padding: $padding 35px;
        }

        strong {
            font-weight: 400;
        }
    }

    .nav {
        padding: 0 $padding;
        position: relative;
        height: 40px;

        @media(min-width: $xlarge-min){
            padding: 0 35px;
        }

        a {
            text-transform: capitalize;
            text-decoration: none;
            font-weight: 300;
            color: #000;
            font-size: 13px;
            letter-spacing: 1px;
            padding-right: $padding;

            &:last-child {
                padding-right: 0;
            }
        }
    }
}

.js .transparent {
    opacity: 0;
}

.opaque {
    opacity: initial;
}

/* .ruler {
    position: absolute;
    top: 165px;
    left: 10px;
    width: 100%;
    height: 1px;
    background: red;
} */

/* Critical Services */
#services {

    background-image: url('/assets/img/common/winter-bg.jpg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;

    @media(min-width: $medium-min){
        background-attachment: fixed;
        min-height: 650px;
    }

    #close-services {
        display: none;
    }
}

body.services {
    .services-transparent {
        .js & {
            opacity: 0;
        }
    }
}