/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
    box-sizing: border-box;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
html {
    height: 100%;
}

body {
    min-height: 100%;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke: 0.25px;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    background: #1D1E21;
    font-family: 'Lato', Helvetica, Sans-serif;

    &.menu-open {
        height: 100vh;
        overflow: hidden;
    }
}

#main-container {

    transition: all .5s cubic-bezier(0.6, 0, 0.4, 1);
    height: 100%;
    margin: 0 auto;

    $blip-height: 30px;

    &:before,
    &:after {
        content: "";
        display: block;

        z-index: 3;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);

        width: 95%;
        height: $blip-height;

        background: #28282D;
        box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1);

        opacity: 0;
        visibility: hidden;
        transition: all .5s cubic-bezier(0.6, 0, 0.4, 1);
    }

    &:after {
        z-index: 2;
        width: 90%;
        top: 0;
    }

    .menu-open & {
        transform: translateY(30vh) scale(0.9);
        position: relative;

        &:before,
        &:after {
            opacity: 1;
            visibility: initial;
            top: ($blip-height * -1);
        }

        &:after {
            top: ($blip-height * -1) * 2;
        }

        > *:first-child {
            position: relative;
            z-index: 1;
            box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.1)
        }
    }
}

nav {
    width: 90vw;
    margin: 0 auto;
    padding-top: 20px;

    position: fixed;
    top: 0;
    left: 50%;
    z-index: 0;

    transition: all .5s cubic-bezier(0.6, 0, 0.4, 1);
    transform: translate3d(-50%, 10vh, 0);
    opacity: 0;

    .menu-open & {
        transform: translate3d(-50%, 0, 0);
        opacity: 1;
    }

    ul {
        margin: 0;

        li {

            float: left;
            display: block;
            width: 33%;
            text-align: center;
            line-height: 40px;

            a {

            }
        }
    }
}

#canvas-container {

    position: relative;
    z-index: 1;

    width: 100%;
    width: 100vw;
    height: 100vh;
    max-height: 900px;
    overflow: hidden;

    canvas {
        height: 100%;

        display: block;
        margin: 0 auto;

        position: absolute;
        top: 50%;
        transform: translate3d(-50%, -50%, 0);
        left: 50%;

        z-index: 3;
    }

    &:before {
        content: "";
        display: block;
        width: 100vw;
        height: 100vh;

        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 2;

        background: rgba(255,255,255,0.65);
        background: linear-gradient(135deg, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    }

    iframe {
        height: 100vh;
        width: 100vw;
        display: block;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }

    .intro {
        width: 100%;
        max-width: 980px;

        position: fixed;
        top: 20px;
        left: 20px;
        //transform: translateY(-50%);
        z-index: 3;

        &:before {

            content: "";

            display: block;
            width: 90px;
            height: 1px;
            background: white;

            position: absolute;
            left: 2px;
            bottom: -5px;
        }

        h1 {
            color: #FF6400;
            text-transform: uppercase;
            font-size: 14px;
        }

        h2 {
            color: white;
            text-transform: uppercase;
            font-size: 28px;
        }
    }
}