<!DOCTYPE html>
<html class="no-js">
    <head>
        <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

        {% include meta.html %}

        <!--[if lt IE 9]>
            <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <!-- build:css /assets/css/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->

        <link rel="stylesheet" href="/assets/css/critical.css" inline>
        <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>

    </head>

    <body>

    <div id="main-container" class="preload">

        <div id="canvas-container">

            <canvas id="canvas"></canvas>
            <iframe data-aspect="1195:459" data-aspect-boundry="height" id="vimeo" src="http://player.vimeo.com/video/109556361?color=ff9933&autoplay=1&loop=1&api=1&player_id=vimeo" allowfullscreen></iframe>

            <div class="intro">
                <h1>EMBER</h1>
                <h2>Film is our passion.</h2>
            </div>

        </div>

    </div>

    {% include footer.html %}

    </body>
</html>
